<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>MC Time Capsules Voting</title>
		<link rel="stylesheet" href="./style.css" />
		<link rel="icon" href="./favicon.ico" type="image/x-icon" />
	</head>
	<body>
		<main>
			<h1>Welcome to the Time Capsules Minecraft Mod website</h1>
			<p>Work in progress, please check back later.</p>

			<p>
				To report a time capsule, please send me an email and mention
				the reason you think it should be removed and, importantly, the
				capsules ID so I know what you're talking about. (You can find
				it on the first page after the #.)
			</p>
			<a href="mailto:reports@quoomy.com">reports@quoomy.com</a>
			<a href="https://quoomy.com">quoomy.com</a>

			<%= customMsg %>
		</main>
	</body>
</html>
